ol li {
    background-color: yellow;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}

ol li:nth-child(even) {
    color: green;
}
    
h1, h2, h3 {
    color: red;
}

h1 em, h2 em, h3 em {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

.java {
    background-color: pink;
}

.three {
    color: blue;
}

.links li a:hover {
    font-weight: bold;
}

#stack:hover {
    color: orange;
}

#w3s:hover {
    color: green;
}

#mdn:hover {
    color: black;
}

#devdoc:hover {
    color: yellow;
}

#trybe:hover {
    color: green;
}